<div class="search-container" align="end">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput type="search" (keyup)="applyFilter($event.target.value)" autocomplete="off">
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field>
          <input matInput type="text" placeholder="Id" [(ngModel)]='valueFilters.id' (keyup.enter)="getData()">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field>
          <input matInput type="text" placeholder="Name" [(ngModel)]='valueFilters.name' (keyup.enter)="getData()">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field>
          <input matInput type="text" placeholder="Email" [(ngModel)]='valueFilters.email' (keyup.enter)="getData()">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab color="primary" (click)="showEditUser(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator #paginator
                 [length]="resultsLength"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
  <button mat-fab class="create-user-button" matTooltip="New application" matTooltipPosition="left" (click)="createUser()">
    <mat-icon>add</mat-icon>
  </button>
</div>
