table {
  width: 100%;
}

.search-container {
  margin-top: 10px;
  width: 100%;
}
.search-container mat-form-field {
  margin-right: 10px;
  font-size: 10px;
}

td, th {
  width: 25%;
}

.create-user-button {
  right: 20px;
  bottom: 10px;
  left: auto;
  position: absolute;
}
