<h2 mat-dialog-title>Change Password</h2>
<form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input autocomplete="off" matInput type="password" formControlName="oldPass" placeholder="Old password">
    </mat-form-field>

    <mat-form-field>
      <input autocomplete="off" matInput type="password" formControlName="newPass" placeholder="New password">
    </mat-form-field>

    <mat-form-field>
      <input autocomplete="off" matInput type="password" formControlName="confirmPass" placeholder="Confirm password">
      <mat-error>
        Passwords do not match
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Update password</button>
  </div>
</form>
