<h2 matDialogTitle>New User</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput type="text" formControlName="name" class="form-control" placeholder="First Name" autocomplete="off"/>
      <mat-error>
        First Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="lastName" class="form-control" placeholder="Last Name" autocomplete="off" />
      <mat-error>
        Last Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="userName" class="form-control" placeholder="Username" autocomplete="off"/>
      <mat-error>
        Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="email" class="form-control" placeholder="Email" autocomplete="off"/>
      <mat-error>
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" class="form-control" placeholder="Password" autocomplete="off"/>
      <mat-error *ngIf="f.password.errors && f.password.errors.required">Password is required</mat-error>
      <mat-error *ngIf="f.password.errors && f.password.errors.minlength">Password must be at least 6 characters</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Register</button>
  </mat-dialog-actions>
</form>
