<h2 mat-dialog-title>Edit User</h2>
<form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput type="text" formControlName="name" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select class="form-control" id="apps" formControlName="applications" (selectionChange)="performSelect()" placeholder="Application">
        <mat-option *ngFor="let app of apps" [value]="app.applicationUrl">
          {{app.applicationName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <section *ngFor="let role of selectedRoles">
      <mat-checkbox [checked]="selectedUserROles.includes(role)" (change)="performChecked(role,$event)">
        {{role}}
      </mat-checkbox>
    </section>
    <mat-form-field>
      <input matInput name="hiddenInput" style="display: none" >
      <mat-checkbox formControlName="active">
        Status
      </mat-checkbox>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Update</button>
  </mat-dialog-actions>
</form>
