mat-card-actions > a {
  margin-left: 10px;
}
mat-card-header > a {
  position: absolute;
  right: 8px;
  top: 8px;
}

.create-app-button {
  right: 20px;
  bottom: 10px;
  left: auto;
  position: absolute;
}
