﻿<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="170px" gutterSize="10px">
  <mat-grid-tile *ngFor='let app of apps'>
    <mat-card class="application-card">
      <mat-card-header>
        <a mat-icon-button *ngIf="isAdministrator()" matTooltip="Actions" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editApplication(app)">
            <span>Edit application</span>
          </button>
          <button mat-menu-item (click)="addRole(app)">
            <span>Add role</span>
          </button>
        </mat-menu>
        <mat-card-title>{{app.applicationName}}</mat-card-title>
        <mat-card-subtitle>{{app.applicationUrl}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <a mat-icon-button target="_blank" matTooltip="Go to application" href="{{ app.applicationUrl }}/?token={{token}}">
          <mat-icon>arrow_forward</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<button *ngIf="isAdministrator()" mat-fab class="create-app-button" matTooltip="New application" matTooltipPosition="left" (click)="createApplication()">
  <mat-icon>add</mat-icon>
</button>
