<h2 mat-dialog-title>Edit Application</h2>
<form [formGroup]="editApplicationForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput type="text" autocomplete="off" formControlName="applicationName" class="form-control" placeholder="Application Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" autocomplete="off" formControlName="applicationUrl" class="form-control" placeholder="Application Url">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" autocomplete="off" formControlName="logoutUrl" class="form-control" placeholder="Application Logout Url">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Update</button>
  </div>
</form>
