/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-light-blue);
$accent:  mat-palette($mat-orange, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);

.spacer{
  height: 5vh;
}
.spacer2{
  height: 3vh;
}
.invalid-feedback{
  color: red;
}

.application-card {
  width: calc(100% - 70px);
}

.blue-snackbar {
  background: #2196F3;
}

.red-snackbar {
  background: #F44336;
}
