<mat-toolbar class="mat-elevation-z6" color="primary">
  <span><a mat-button class="companyName" routerLink="home">SSO Auth</a></span>
  <span><a mat-button *ngIf="isAuthenticated() && isAdmin()" routerLink="users" routerLinkActive="mat-raised-button mat-primary"> Manage users</a></span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button *ngIf="isAuthenticated()" mat-button [matMenuTriggerFor]="userMenu" >{{getUserFullName()}}</button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item  (click)="changePass()">
      <mat-icon svgIcon="key-variant"></mat-icon>
      <span>Change password</span>
    </button>
    <button mat-menu-item  (click)="logout()">
      <mat-icon svgIcon="logout-variant"></mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
