﻿<!--<div class="login-page">-->
<!--<div class="login-spacer"></div>-->
<!--<div class="login-container">-->
<!--<div id="login-fab" class="matl-color&#45;&#45;accent matl-color-text&#45;&#45;white">-->
<!--<i id="lock-icon" class="material-icons">lock</i>-->
<!--</div>-->
<!--<h2 class="card-heading">-->
<!--User Login-->
<!--</h2>-->
<!--<form class="login-form" [formGroup]="loginForm" (keydown)="keyDownFunction($event)">-->
<!--<mat-form-field >-->
<!--<div *ngIf=" (f.email.dirty || f.email.touched)" class="error-message">-->
<!--<div *ngIf="f.email.errors?.required">Email is required-->
<!--</div>-->
<!--</div>-->
<!--<input matInput type="text" formControlName="email" placeholder="Username or Email" required   updateOn="blur">-->
<!--</mat-form-field>-->

<!--<mat-form-field>-->
<!--<div *ngIf=" (f.password.dirty || f.password.touched)" class="error-message">-->
<!--<div *ngIf="f.password.errors?.required">Password is required-->
<!--</div>-->
<!--</div>-->
<!--<input matInput type='password' placeholder="Password" formControlName="password">-->
<!--</mat-form-field>-->
<!--</form>-->
<!--<div class="buttons">-->
<!--<div class="login">-->
<!--<button mat-raised-button color="primary" (click)="onSubmit()" >Login</button>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="signin-content">
  <mat-card fxLayout="column">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-content fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Username or Email</mat-label>
          <mat-error *ngIf=" (f.email.dirty || f.email.touched)">
            Email is required
          </mat-error>
          <input matInput type="text" formControlName="email" updateOn="blur">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <mat-error *ngIf=" (f.password.dirty || f.password.touched)">
            Password is required
          </mat-error>
          <input matInput type='password' formControlName="password">
        </mat-form-field>
    </mat-card-content>
      <mat-card-actions fxLayout="column">
        <button mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

