<div class="row">
  <div class="col-md-2">
    <div style="margin-left: 30px">
      <h3>
        <mat-icon>apps</mat-icon>
        Applications
      </h3>
      <mat-list>
        <a mat-list-item *ngFor='let app of apps ' target="_blank" href="{{ app.applicationUrl }}/?token={{token}}">
          <mat-icon>arrow_forward</mat-icon>
          {{app.applicationName}}</a>
      </mat-list>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <button mat-raised-button routerLink="/addUser" style="color:#0099CC">Add User</button>
    <button mat-raised-button routerLink="/addAdmin" style="color:#0099CC; margin-left: 10px">Add Admin</button>
    <div class="spacer2"></div>

    <mat-tab-group>
      <mat-tab label="User List">
        <br/>
        <app-user-list></app-user-list>

      </mat-tab>
      <mat-tab label="Application List">

        <br/>
        <app-application-list></app-application-list>

      </mat-tab>
    </mat-tab-group>


  </div>
</div>
