<h2 matDialogTitle>Add Application</h2>
<form [formGroup]="applicationForm" (ngSubmit)="submitRegistration()" novalidate>
  <mat-dialog-content fxLayout="column">
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <br>
    <mat-form-field>
      <input matInput type="text" class="form-control" formControlName="applicationName" required autofocus placeholder="Application name"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" class="form-control" formControlName="applicationUrl" required placeholder="Application URL"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" class="form-control" formControlName="logoutUrl" required placeholder="Application Logout Url"/>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-dialog-actions>
</form>
