<h2 mat-dialog-title>Add Role to {{application.applicationName}}</h2>
<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput type="text" autocomplete="off" id="role" formControlName="roleName" class="form-control" placeholder="Role name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Save</button>
  </div>
</form>
