<div class="row">
  <div class="col-md-2">
    <div style="margin-left: 30px">
      <h3>
        <mat-icon>apps</mat-icon>
        Applications
      </h3>
      <mat-list>
        <a mat-list-item *ngFor='let app of apps ' target="_blank" href="{{ app.applicationUrl }}/?token={{token}}">
          <mat-icon>arrow_forward</mat-icon>
          {{app.applicationName}}</a>
      </mat-list>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <button mat-raised-button routerLink="/addUser" style="color:#0099CC">Add User</button>
    <div class="spacer2"></div>
    <app-user-list></app-user-list>
  </div>
</div>
